.quote{
    background-color: white;
    border: 1px dashed black;
    /* border-radius: 12px; */
    margin: auto;
    margin-top: 20vh;
    height: 40vh;
    width: 90vh;
    font-family: Share Tech;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.quote blockquote{
    font-size: 1.5em;
    text-align: center;
    color: #2c151567;
}
.quote p{
    text-align: center;
    font-size: 2em;
    padding: 10vh;
}